# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS files
.vscode/
.idea/
.DS_Store

# cache
.pytest_cache/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore